<!DOCTYPE HTML>
<html>

<head>
</head>

<body>
    <form method='post' action='/articles'>
        <label>Title:
            <input type='text' name='title'>
        </label>
        <br>
        <label>Content:
            <input type='text' name='content'>
        </label>
        <br>
        <input type='submit'>
    </form>
</body>

</html>